{% include 'base2.html' %}
{% load static %}
{% block contain %}
<div class="container">

  <div class="row">
    <p>Welcome {{ user.username }} !!!</p>
    {% for cart in carts %}
    <div class="col-lg-3 box">
      <img class="thumbnail" src="{{cart.product.image.url}}">
      <div class="box-element product">
        <h6><strong>{{cart.product}}</strong></h6>
        <h4><strong>₹ {{cart.product.price}}</strong></h4>
        <a class='btn-primary cart' href="{% url 'remove_cart' cart.id%}">Remove</a>

      </div>
      <button class='btn-primary'  id='{{ cart.product.id }}' onclick="move_to_wishlist(this);">move to wishlist</button>
    </div>
    {% endfor %}
    

  </div></br></br>
<div class="row">
<b><p style=" margin-left:900px;">Total : ₹ {{total}}</p></b>
</div>
</div>


<form action="/success/" method="POST">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_bin3Lsm70z285Y"
        data-amount={{response.amount}}
        data-currency={{response.currency}}
        data-order_id={{response.id}}
        data-buttontext="Pay with Razorpay"
        data-name="ILoveDjango3000"
        data-description=""
        data-image=""
        data-prefill.name={{request.user.username}}
        data-prefill.email={{request.user.email}}
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
    </form>


{% endblock contain %}